@model CreateSellingProductDto

@{
    ViewData["Title"] = "CreateSellingProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni En Çok Satan Ürün Oluştur</h3>

<form method="post">
    <label>Ürün Adı</label>
    <input type="text" asp-for="Name" class="form-control" required />
    <br />
    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" required />
    <br />
    <label>Fiyat</label>
    <input type="number" asp-for="Price" class="form-control" required />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
