@model IEnumerable<ResultRelatedProductsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Beğenebileceginiz Ürünler</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <th><img src="@item.ImageUrl" style="height:75px; width:75px;" /></th>
            <td>@item.Name</td>
            <td>@item.Price ₺</td>
            <td>
                <a href="/RelatedProduct/DeleteRelatedProduct/@item.RelatedProductId" class="btn btn-danger">Sil</a>
                <a href="/RelatedProduct/UpdateRelatedProduct/@item.RelatedProductId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/RelatedProduct/CreateRelatedProduct" class="btn btn-info">Yeni Beğenebileceginiz Ürün Oluştur</a>