@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeadComponent")

<body>

    <div class="wrapper d-flex align-items-stretch">

        @await Component.InvokeAsync("_AdminSidebarComponent")

        <div id="content" class="p-4 p-md-5">

            @await Component.InvokeAsync("_AdminNavbarComponent")

            @RenderBody()

        </div>
    </div>

    @await Component.InvokeAsync("_AdminScriptsComponent")

</body>
</html>