@model IEnumerable<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h3>Kategoriler</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Kategori Resmi</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.Name</td>
            <td>@item.CategoryImage</td>
            <td> 
                <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a>
                <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Oluştur</a>