@model IEnumerable<ResultCollectionDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Koleksiyonlar</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                <a href="/Collection/DeleteCollection/@item.CollectionId" class="btn btn-danger">Sil</a>
                <a href="/Collection/UpdateCollection/@item.CollectionId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Collection/CreateCollection" class="btn btn-info">Yeni Koleksiyon Oluştur</a>

