<nav id="sidebar">
    <div class="p-4 pt-5">
        <h4 class="text-white">Kaira Admin Panel</h4>
        <ul class="list-unstyled components mb-5">

            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index"><i class="fa fa-home"></i> Siteye Git</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Index/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Category/Index/">Kategoriler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Product/Index/">Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/NewProduct/Index/">Yeni Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/RelatedProduct/Index/">Beğenebileceginiz Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SellingProduct/Index/">En Çok Satan Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Brand/Index/">Markalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Collection/Index/">Koleksiyonlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Testimonial/Index/">Yorumlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Video/Index/">Video</a>
            </li>


        </ul>

    </div>
</nav>